*{
  margin: 0;
}

.App{
  display: flex;
  flex-direction: column;
  background-color:#070809;
  min-height: 100vh;
}
.posts-column{
  display: flex;
  flex-direction: column;
align-items: center;
}
.not-upload{
  color: white;

  padding: 10px;
}